* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  position: relative;
  top: 2vh;
  left: 5vw;
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border: 1px solid #dcdfe6;
  background-color: #fff;
  color: #606266;
  border-radius: 5px;
  cursor: pointer;
}

.dark{
  background: rgba(0,0,0,0.5);
}

.line {
  position: relative;
  top: 2vh;
  left: 5vw;
  display: inline-block;
  height: 40px;
  width: 1px;
  background-color: #8d8d8d;
  margin: 0 1vw;
  vertical-align: middle;
}

#back,
#size,
#ThreeD,
#mode,
#backRootBtn,
#backBtn,
.ring {
  background-color: #409eff;
  color: #fff;
}

button:hover {
  background-color: #8bc3fd !important;
}


/* 白天模式 */
:root {
  --small-grid-stroke: gray;
  --grid-stroke: gray;
  --status-color: black;
}

/* 夜间模式 */
body.dark {
  --small-grid-stroke: white;
  --grid-stroke: white;
  --status-color: white;
}

/* 使用自定义属性设置其他属性值 */
#smallGrid path {
  stroke: var(--small-grid-stroke);
}

#grid path {
  stroke: var(--grid-stroke);
}

.status {
  color: var(--status-color);
}

#dependencies.active,
#devDependencies.active,
#polyline.active,
#curve.active {
  background-color: #409eff;
  color: white;
}

